:root {
    --green-color: #01a050;
    --gray-color: #3f3f3f;
    --white-color: #fefefe;
    --black-color: #000;
    --width-news-1: 488px;
    --width-news-2: 341px;
    --width-news-3: 341px;
    --padding-news-1: 15px;
    --padding-news-2: 34px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* layout */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* reset ul */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.width-news-col-1 {
    flex-basis: var(--width-news-1);
    padding-right: var(--padding-news-1);
    padding-left: 0;
}

.width-news-col-2 {
    flex-basis: var(--width-news-2);
    padding-left: var(--padding-news-1);
    padding-right: var(--padding-news-2);
}

.width-news-col-3 {
    flex-basis: var(--width-news-3);
    padding-left: var(--padding-news-2);
    padding-right: 0;

}

.text-black {
    color: var(--black-color);
}

/* position */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* other news */
ul.other-news li {
    display: flex;
    margin-bottom: 20px;
}
ul.other-news li a:first-child {
    padding-right: 11px;
    display: block;
}

ul.other-news li a:last-child {
    font-size: 14px;
    color: var(--black-color);
    font-weight: 500;
    padding-left: 11px;
    text-decoration: none;
}

ul.other-news li:hover a:last-child {
    color: var(--green-color);
}

/* box */

.box .box-head {
    border-bottom: 1px solid var(--green-color);
    margin-bottom: 25px;
} 
.box .box-head h3 {
    color: var(--white-color);
    background-color: var(--green-color);
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 11.5px 21.5px;
}

.box .box-body {
    margin-bottom: 40px;
}

